<div id="<%= dom_id payment %>">
  <div class="payy"
    <p class="nam">
      <strong>Name: </strong>
      <%=  payment.name %>
    </p>

    <p>
      <strong>Amount: $</strong>
      <%= payment.amount %>
    </p>

    <p class="move">
      <%= link_to "Show", payment, class: 'move' %>
    </p>
  </div>
</div>
