/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Gladista Script';
    font-style: normal;
    font-weight: 400;
    src: local('Gladista Script'), url('https://fonts.cdnfonts.com/s/82351/Gladista.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 250;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNovaT-Thin.woff') format('woff');
}

body {
    background-color: #f1f3f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Light', sans-serif;
    text-decoration: none;
}

 .hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
 }

 .title {
    font-size: 2em;
    flex: 0.7;
    font-family: 'Gladista Script';
    margin-top: 20%;
    color: #2b343b;
 }

 .btns {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 0;
 }

 .login {
    width: 100%;
    padding: 17px;
    background-color: #3582db;
    border: #3582db;
 }

 .login > a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
 }

 .signup > a {
    color: #797c7e;
    font-size: 20px;
    font-weight: 600;
 }

 .signup {
    margin-top: 10px;
    border: 0;
    font-size: 20px;
    background-color: #f1f3f2;
 }

 .bars {
   display: flex;
   justify-content: space-between;
   color: #fff;
   padding: 20px;
   list-style: none;
   background-color: #3582db;
   font-family: 'Proxima Nova Light';
 }

 .container {
   width: 100%;
 }

 .nems {
   border: 0;
   padding:15px;
   width: 100%;
   outline: none;
 }

 .emms {
   border: 0;
   padding:15px;
   width: 100%;
   outline: none;
 }

 .pass {
   border: 0;
   padding:17px;
   width: 100%;
   outline: none;
 }

 hr {
   margin-left: 15px;
 }

 .actions {
   display: flex;
   justify-content: center;
 }

 .aye {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60%;
   padding: 10px;
   border-radius: 30px;
   border: 1px solid #3582db;
   background-color: #fff;
   font-size: 1.3em;
   margin-top: 10px;
 }

 .field {
   display: flex;
   width: 100%;
 }

 .june {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #fff;
   padding: 20px;
   list-style: none;
   background-color: #3582db;
   font-weight: 700;
 }

 .forgot {
   display: flex;
   justify-content: center;
   color: #2b343b;
 }

 .none {
   display: none;
 }

 .categs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  list-style: none;
  background-color: #3582db;
  font-weight: 700;
 }

 .toa {
  background-color: #3582db;
  border: none;
  color: #fff;
  font-weight: 700;
 }

 .addc {
  display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   padding: 12px;
   border-radius: 30px;
   background-color: #3582db;
   margin: 10px;
   text-transform: uppercase;
 }

 .addst {
  color: #fff;
  font-size: 1.2em;
  font-weight: 800;
 }
