/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Gladista Script';
    font-style: normal;
    font-weight: 400;
    src: local('Gladista Script'), url('https://fonts.cdnfonts.com/s/82351/Gladista.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 250;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNovaT-Thin.woff') format('woff');
}

body {
    background-color: #f1f3f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Light', sans-serif;
    text-decoration: none;
}

 .hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
 }

 .title {
    font-size: 2em;
    flex: 0.7;
    font-family: 'Gladista Script';
    margin-top: 20%;
    color: #2b343b;
 }

 .btns {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 0;
 }

 .login {
    width: 100%;
    padding: 17px;
    background-color: #3582db;
    border: #3582db;
 }

 .login > a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
 }

 .signup > a {
    color: #797c7e;
    font-size: 20px;
    font-weight: 600;
 }

 .signup {
    margin-top: 10px;
    border: 0;
    font-size: 20px;
    background-color: #f1f3f2;
 }
