<nav class="mycategs">
  <ul class="categs">
    <li>
      <p>Back</p>
    </li>
    <li>
      <h1 class="txt">Categories</h1>
    </li>
    <li>
      <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "toa" %>
    </li>
  </ul>
</nav>
<div class="addc">
  <%= link_to "Add Category", new_category_path, class: "addst" %>
</div>

